body {
    background-color: aliceblue;
    box-sizing: border-box;
}

h3, p {
    margin: 0;
}

.users-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
}

.user-block {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}

.user-block p, .user-block h3 {
    margin-bottom: 20px;
}

.user-block p {
    margin-top: 10px;
}

.user-block h3 {
    font-size: 30px;
}

.button {
    display: block;
    width: 65%;
    padding: 8px;
    background-color: forestgreen;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid forestgreen;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}





